
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
    <link href="~/Content/css/Style.css" rel="stylesheet" />
}
<h2 class="format2">Home Page</h2>

